@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rojo: #f10547;
  --azul: #1a9af4;
  --negro: #222222;
  --gris: #eaeaea;
  --gris-texto: #999;
  --blanco: #ffffff;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  background-color: var(--blanco);
  color: var(--negro);
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

button {
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  border: none;
}
